/* Added borders and attributes to categories that I changed to allow the light css to become the default*/

 @font-face {

	font-family:'Noah';
	src: url('./fonts/Noah/Noah-Regular.woff');
}

@font-face {
	font-family: 'Noah';
	src: url('./fonts/Noah/Noah-Bold.woff');
	font-weight: bold;
}

body{
	font-family:'Noah';
	background-color: #f0f2fd;
	min-width:250px;
}

h1 {
	font-family: 'Bree Serif', serif;
	font-size:31px;
	margin: 3px;
	letter-spacing: 0.04em;
	margin-left: 13px;
	color: black;
}

h2 {
	font-weight:normal;
	font-size:20px;
	margin:1px;
}

#whitebox{
	background-color: white;
	border-radius:15px;
	border-style: solid;
	border-color: white;
	border-width: none;
	padding:8px;
	border-radius:15px;
	margin:10px;
	color:black;
}

/* I must add these to the light css or the dark mode will take over and then by default show it. */
#purplebox{
	background-color: #4f26e1;
	padding:8px;
	border-radius:15px;
	border: none;
	border-width: none;
	margin:10px;
	padding: 10px 15px;
	color:white;
	margin-bottom: 20px;
}

button {
	background-color: white;
    color: #b9b6c6;
	border-style: solid;
	border-color: #b9b6c6;
	border-radius: 8px;
	border-width: thin;
	margin: 5px;
	margin-top:2px;
	margin-bottom:10px;
	font-size:16px;
	padding:5px 8px;
	display: inline-block;
	float:right;
	outline: none;
}

button:hover {
	cursor: pointer;
}

.toggled{
	background-color:#bbacf3;
	color:white;
	border-style:none;
}

#seeAllSavedButton{
	color:#4f26e1;
	background-color:white;
	border-radius:15px;
	font-size: 17px;
	font-family:'Noah';
	padding: 3px 12px 3px 12px;
	border-width: none;
	/* top right bottom left */
}

#starButtons{
	background-color:transparent;
	float:right;
	display: inline-block;
	background-image: url('./icons/star.png'); 
	background-size: cover; 
	height:18px;
	width: 18px;
	border: none;
}

#starButtons.starred{
	background-image:url('./icons/starfilled.png');
}

p{
	font-size:18px;
}

#theme-toggle {
	background-image: url('./icons/moon.png');
	background-size: cover; 
	background-color: transparent;
	float: left;
	display: inline-block;
	border: none;
	width: 20px;
	height: 20px;
	margin-top: -32px;
	margin-left: 173px;
}

#gearButton {
	background-image: url('./icons/setting-lines.png'); 
	background-size: cover; 
	background-color: transparent;
	float: right;
	display: inline-block;
	border: none;
	width: 24px;
	height: 24px;
	margin-top: -35px;
	margin-right: 20px;
}
