@font-face {
  font-family: 'Noah';
  src: url(./fonts/Noah/Noah-Bold.woff);
  font-weight: bold;
}

/*background*/
body {
    /*background-color:#FFFFFF;*/
	background-attachment: fixed;
	background-image: url("images/thirdB.png");
	background-repeat: no-repeat;
	background-size: cover;
}

/* css code for all the buttons */
button {
	background-color: white;
	border-color: #4f26e1;
	border-radius: 8px;
	border-style: solid;
	border-width: thin;
	color: #4f26e1;
	font-size: 20px;
	margin: 5%;
	display: inline-block;
	padding: 8px 8px;
}

select, option, button {
	outline: none;
}

/*central box*/
.box {
  background: #f0f2fd;
  border: rgb(93, 45, 227, 0.65) solid;
  border-radius: 20px;
  box-sizing: border-box;
  
  margin: auto;
  max-height: 650px;
  max-width: 600px;
  min-width: 500px;
  
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%;
    
  position: fixed;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropdownOptions {
  height: 45%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.dropdownOption {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: space-between;
}

.dropdownLabel {
  width: 55%;
  margin: 0%;
  text-align: left;
}

.dropdown {
  width: 45%;
}

.saveButtons {
  height: 30%;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}


/* Syntax Extention Options */
.title {
	color: #2b2b2b;
	font-size: 30px;
	font-weight: bold;
	font-weight: 500;
  margin: auto;
  padding: 3%;
}

/* my language */
h2 {
	color: #2b2b2b;
	font-size: 22px;
	font-style: normal;
	font-weight: 500;
	line-height: 33px;
  margin: 0%;
}

/* Dropdown box for languages */
select {
	background: #bbacf3;
	border: none;
	border-radius: 20px;
	color: #FFFFFF;
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
  height: 35px;
  padding: 5px 8px;
}

/* deplay popup when I double-click a word */
label {
	color: #2b2b2b;
	font-size: 18px;
	font-style: normal;
	font-weight: 300;
}

/* Check box 1 */
#checkbox1:hover, #checkbox2:hover {
	background: #FFFFFF;
	border-radius: 20px;
  cursor: pointer;
}

#save:hover, #reset:hover{
	background-color: #4f26e1;
	color: white;
  cursor: pointer;
}