@font-face {
	font-family:'Noah';
	src: url(./fonts/Noah/Noah-Regular.woff);
}

@font-face {
	font-family: 'Noah';
	src: url(./fonts/Noah/Noah-Bold.woff);
	font-weight: bold;
}

body {
	font-family:'Noah';
  	background-color: #0F0F0F;
	color: #F1F1F1;
	text-align: left;
	width: 93.5vw;
	padding-top:1px;
	padding-right:10px;
}

button {
	background-color: #2f2f2f;
    color: #F1F1F1;
	border-style: solid;
	border-color: #2f2f2f;
	border-radius: 8px;
	border-width: thin;
	margin: 5px;
	margin-top:2px;
	margin-bottom:8px;
	font-size:16px;
	padding:5px 8px;
	outline:none;
	font-family: 'Noah';
	font-size: 17px;
}

button:hover {
	background-color:#8177A5;
	border-color: #8177A5;
	color: #F1F1F1;
	cursor: pointer;
}

button:disabled{
  background-color: #0F0F0F;
  color: #292929;
  border-color: #292929;
  cursor: auto;
}

.headword {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0px;
}

.active{
	background-color:#8177A5;
	color: #F1F1F1;
	border-color: #8177A5;
}

h1{
	margin-top:1px;
	margin-left:6px;
	margin-bottom:1px;
	font-size:30px;
	display:inline-block;
	color: #F1F1F1;
}

h2{
	margin-top:1px;
	margin-bottom:1px;
	font-weight:normal;
	font-size:15px;
}

h3{
	margin-top:0px;
	margin-bottom:0px;
	font-weight:normal;
	font-size:15px;
}

h4{
	margin-top:0px;
	margin-bottom:-3px;
	font-weight:normal;
	font-size:12px;
}

input {
	width: 100%;
}

#translatedtext {
	font-weight: bold;
 	float:left;
 	display: inline-block;
	font-size:30px;
}

#saveButton {
	background-color:transparent;
	float:right;
	display: inline-block;
	margin-right:10px;
	margin-top:10px;
	background-image: url('./icons/star.png');
    background-size: cover;
	height:25px;
	width: 25px;
	border: none;
	border-radius:0px;
}

#saveButton.saved{
	background-image:url('./icons/starfilled.png');
}

.moreBtn{
	color:white;
	background-color:#bbacf3;
	border:none;
	display:inline-block;
	float:right;
	margin-right:20px;
	margin-bottom:-3px;
	font-size:14px;
}

#pronounceWord {
	background-color:transparent;
	display: inline-block;
	background-image: url('./icons/speakdark.png');
    background-size: cover;
	width: 27px;
	height: 21px;
	overflow:show;
	border: none;
	border-radius:0px;
}


#searchedImage, #retrieveWord {
	display: none;
}

.box {
	background-color: #201156;
	border-radius: 15px;
	padding:18px 15px;
	width:95%;
	min-height: 130px;
}

.marginStyle, #searchedImage {
	margin-left: 6px;
	margin-bottom: 7px;
	margin-top:  4px;
}

#userInput, #inputInstructions {
	display: none;
}

#detectedText {
	color: #B3A7E1;
}

#photoCredit {
	margin: -1px 0px 4px 9px;	
	color: #969696;
	font-style: italic;
	font-size: 11.3px;
}

#newImage {
	margin-left: 6px;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* Scrollbar styles */
::-webkit-scrollbar {
width: 9px;
height: 9px;
}

::-webkit-scrollbar-track {
border-radius: 10px;
background: #0F0F0F;
}

::-webkit-scrollbar-thumb {
background: #313131;  
border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
background: #464646;  
}